body {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto", "Arial", sans-serif;
    text-transform: none;
    text-align: left;
}
.navigation-link {
    color: #000000;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.basket-link {
    color: #000000;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
}
.slider-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin-top: 61px;
    margin-bottom: 25px;
}
.slider-text{
    line-height: 24px;
    color: #283136;
    margin-bottom: 39px;
}
.slider-btn {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    background: #fb565a;
    padding: 17px 54px;
}

.feat-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.feat-btn {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 40px;
}
.feat-btn-red {
    background: #fb565a;
}
.feat-btn-green {
    background: #00ca74;
}
.feat-btn-yellow {
    background: #efc84a;
}
.feat-text {
    line-height: 24px;
    color: #283136;
}
.left-title1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 33px;
}
.left-text {
    line-height: 24px;
    color: #283136;
}
.left-title2 {
    line-height: 24px;
    color: #283136;
    font-weight: 700;
    text-transform: uppercase;
}
.about-us-element {
    line-height: 24px;
    color: #283136;
}
.table-title {
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.table-cell1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.table-cell2 {
    color: #283136;
}
.table-percent {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.address-btn {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 45px;
    background: #fb565a;
}
.address-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.address-text,
.address-link {
    color: #666666;
}
.shares-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.shares-text {
    line-height: 22px;
    color: #444444;
    margin-top: 11px;
}
.range-cost {
    min-height: 250px;
}
.range-grid {
    min-height: 174px;
}
.range-features {
    min-height: 255px;
}
.catalog-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
}
.cost-title,
.grid-title,
.features-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.label-text,
.features-text {
    display: inline-block;
    margin-bottom: 21px;
    line-height: 20px;
    color: #283136;
}
.before-after {
    line-height: 20px;
    color: #283136;
    text-transform: uppercase;
}
.from-to {
    width: 60px;
    line-height: 20px;
    color: #283136;
    background: #eeeeee;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.sorting-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.sort-link {
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
}
.range-btn {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 100px;
    background: #eeeeee;
}
.product-name {
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.product-price {
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 60px;
    background: #fb565a;
    margin: 55px;
}
.product-text {
    color: #666666;
    text-align: center;
    margin-bottom: 49px;
}
.gallery-btn {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.slider-more {
    display: none;
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.header {
    background: #eeeeee;
}
.header-content {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 355px;
}

.header-navigation {
    min-height: 121px;
}
.navigation-logo {
    float: left;
    margin-top: 50px;
    margin-right: 139px;
}
.navigation-list {
    float:left;
}
.navigation-element {
    float:left;
    margin-top: 46px;
    padding: 12px 23px;   
}
.navigation-basket {
    float: right;
    margin-top: 63px;
    padding: 12px 0px 12px 24px; 
}
.basket-img {
    margin-right: 26px;
}
.slider {
    height: 412px;
}
.slider-left {
    float: left;
    width: 380px;
    min-height: 345px;
}
.slider-btn {
    float: left;
}
.slider-img {
    float: right;
}
.main-content {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;   
}
.features {
    width: 1160px;
    margin: 80px auto;
}
.feat {
    float: left;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 30px;
}
.feat:nth-child(3) {
    margin-right: 0px;
}
.feat-img {
    margin-bottom: 2px; 
}
.feat-title {
    margin-bottom: 1px; 
}
.feat-btn {
    float: left;
    margin-top: 15px;
}
.about-us-left {
    float: left;
    width: 665px;
    margin-right: 10px;
}
.left-text {
    margin-bottom: 40px;
}
.left-title2{
    margin-bottom: 23px;
}
.about-us-element {
    margin-bottom: 24px;
}
.about-us-right {
    float: right;
    width: 370px;
}
.right-img {
    float: right;
    margin-top: 10px;
    margin-bottom: 39px;
}
.table-title {
    margin-left: 9px;
    margin-bottom: 38px;
}
.table-cell1 {
    padding: 0px 10px 0px 9px;
}
.table-cell2 {
    padding: 15px 10px 0px 9px;
}
.clients {
    float: left;
    margin-top: 69px;
    margin-bottom: 88px;
    padding: 30px 20px;
    opacity: 0.2;
}
.client-link{
    float: left;
    margin-right: 85px;
}
.client-link:nth-child(4) {
    margin-right: 0px;
}
.main-contacts {
    background-image: url("/img/map.jpg");
    background-color: #f1efe8;
    max-height: 418px;
}
.address-content {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.address {
    float: left;
    padding: 49px 50px;;
    margin-top: 51px;
    margin-bottom: 48px;
    background: white;
}
.address-text {
    width: 210px;
}

.address-btn {
    float: left;
    margin-top: 49px;
}
.footer {
    width: 1160px;
    min-height: 218px;
    margin: 0 auto;
    padding: 0 20px;   
}
.social-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 7px;
    background-color: #e1e1e1;
    border-radius: 50px;
    margin-top: 70px;
    text-align: center;
}
.social-img {
    margin-top: 25px;
}
.footer-social {
    float: left;
    margin-right: 133px;
}
.footer-shares {
    float: left;
    margin-top: 76px;
}
.catalog-title {
    margin-top: 61px;
}
.form-left {
    float: left;
    margin-top: 3px;
    min-width: 260px;
}
.gallery {
    float: right;
    width: 760px;
}
.form-right {
    float: left;
    width: 760px;
    margin-bottom: 50px;
}
.sorting-title {
    float: left;
    margin-top: 5px;
    margin-right: 257px;
}
.sorting-element {
    float: left; 
    padding: 5px 12px 5px 12px;  
}
.sorting-controls {
    float: right;
    margin-top: -47px;
}
.arrow-down-link {
    margin-right: 13px;
}
.product-description {
    width: 310px;
    min-height: 231px;
    background: #eeeeee;
    padding: 25px;
}
.product-item:nth-child(2n) {
    float: left;
    margin-right: 35px;
    margin-top: 15px;
}
.product-item:nth-child(2n+1) {
    float: right;
    margin-top: 15px;
}
.gallery-pages {
    float: left;
}
.gallery-btn {
    display: inline-block;
    background: #eeeeee;
    padding: 17px 21px;
    margin-top: 61px;
    margin-right: 6px;
    margin-bottom: 61px;
}
.gallery-btn:nth-child(4) {
    padding: 17px 78px; 

}
.clearfix::after {
    content: "";
    display: table;
    clear: both
}