body {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto", "Arial", sans-serif;
    text-transform: none;
    text-align: left;
}
.navigation-link {
    color: #000000;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.navigation-link:hover {
    color: #fb565a;
}
.navigation-link:active {
    opacity: 0.3;
}
.navigation-list .active {
    border-bottom: 2px solid #fb565a;
}
.basket-link {
    color: #000000;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
}
.basket-link:hover {
    color: #fb565a;
}
.basket-link:active {
    color: #000000;
    opacity: 0.3;
}
.slider-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin-top: 75px;
    margin-bottom: 25px;
}
.slider-text{
    line-height: 24px;
    color: #283136;
    margin-bottom: 39px;
}
.slider-btn {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    background: #fb565a;
    padding: 17px 54px;
    border-radius: 3px;
}
.slider-btn:hover {
    background-color: #e74246;
}
.slider-btn:active {
    background-color: #d7373b;
}

.feat-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.feat-btn {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 40px;
    border-radius: 3px;
}
.feat-btn-red {
    background: #fb565a;
}
.feat-btn-red:hover {
    background-color: #e74246;
}
.feat-btn-red:active {
    background-color: #d7373b;
}
.feat-btn-green {
    background: #00ca74;
}
.feat-btn-green:hover {
    background-color: #e74246;
}
.feat-btn-green:active {
    background-color: #d7373b;
}
.feat-btn-yellow {
    background: #efc84a;
}
.feat-btn-yellow:hover {
    background-color: #e74246;
}
.feat-btn-yellow:active {
    background-color: #d7373b;
}
.feat-text {
    line-height: 24px;
    color: #283136;
}
.left-title1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 33px;
}
.left-text {
    line-height: 24px;
    color: #283136;
}
.left-title2 {
    line-height: 24px;
    color: #283136;
    font-weight: 700;
    text-transform: uppercase;
}
.about-us-element {
    line-height: 24px;
    color: #283136;
    margin-left: -10px;
}
.table-title {
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.table-cell1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.table-cell2 {
    color: #283136;
}
.table-percent {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.address-btn {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 45px;
    background: #fb565a;
    border-radius: 3px;
}
.address-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 23px;
}
.address-text,
.address-link {
    color: #666666;
}
.shares-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.shares-text {
    line-height: 22px;
    color: #444444;
    margin-top: 11px;
}
.range-cost {
    min-height: 250px;
}
.range-grid {
    min-height: 174px;
}
.range-features {
    min-height: 255px;
}
.catalog-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
}
.cost-title,
.grid-title,
.features-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.label-text,
.features-text {
    display: inline-block;
    margin-bottom: 20px;
    line-height: 20px;
    color: #283136;
}
.label-btn{
    opacity: 0.4;
}
.features-btn {
    opacity: 0.4;
}
.label-btn:hover{
    opacity: 1;
}
.features-btn:hover {
    opacity: 1;
}
.before-after {
    line-height: 20px;
    color: #283136;
    text-transform: uppercase;
}
.range-cost {
    width: 260px;
}
.range-controls{
    position:relative;
    height: 41px;
    border-radius: 3px; 
    background-color: #f1f1f1;
    margin-top: 47px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}
.scale {
    height: 2px;
    background-color: #d7dcde;
}
.bar {
    width: 70%;
    height: 2px;
    background-color: #00ca74;
}
.toggle {
    position:absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
.toggle-min {
    left: 20px;
}
.toggle-max {
    left: 162px;
}
.range-price {
    font-size: 0;
}
.range-price label {
    font-size: 16px;
    display:inline-block;
    width: 50%;
}
.max-price {
    text-align: right;
}
.range-price input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 15px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 3px;
    background-color: #f1f1f1;
}
.range-price span{
    text-transform: uppercase;
}
.sorting-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.sort-link {
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.3;
}
.sort-link:hover {
    opacity: 0.6;
}
.sort-link:active {
    opacity: 1;
}
.range-btn {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 86px;
    background: #eeeeee;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.range-btn:hover {
    background-color: #dfdfdf;
}
.range-btn:active {
    background-color: #d5d5d5;
}
.product-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 28px;
}
.product-price {
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 60px;
    background: #fb565a;
    margin: 0px 55px;
    border-radius: 3px;
}
.product-price:hover {
    background-color: #e74246;
}
.product-price:active {
   background-color: #d7373b; 
}
.product-text {
    color: #666666;
    text-align: center;
    margin-bottom: 45px;
}
.gallery-btn {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    border-radius: 3px;
}

.slider-more {
    display: none;
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.header {
    background: #eeeeee;
}
.header-content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.navigation-logo {
    float: left;
    margin-top: 50px;
    margin-right: 180px;
}
.navigation-logo:hover {
   opacity: 0.8; 
}
.navigation-logo:active {
   opacity: 0.3; 
}
.navigation-list {
    float:left;
    margin: 0;
    padding: 0;
    margin-top: 65px;
}
.navigation-element {
    float:left;
    margin: 12px 23px;   
}
.navigation-basket {
    float: right;
    margin-top: 66px;
    padding: 12px 0px 12px 24px; 
}
.basket-img {
    margin-right: 26px;
}
.slider {
    height: 427px;
}
.slider-left {
    float: left;
    width: 380px;
}
.slider-btn {
    float: left;
}
.slider-img {
    margin-top: 18px;
    float: right;
}
.main-content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.features {
    width: 1200px;
    margin: 80px auto;
    box-sizing: border-box;
}
.feat {
    float: left;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 30px;
}
.feat:nth-child(3) {
    margin-right: 0px;
}
.feat-img {
    margin-bottom: 2px; 
}
.feat-title {
    margin-bottom: 0px; 
}
.feat-btn {
    float: left;
    margin-top: 16px;
}
.about-us-left {
    float: left;
    width: 665px;
}
.left-text {
    margin-bottom: 38px;
}
.left-title2{
    margin-bottom: 23px;
}
.about-us-element {
    margin-bottom: 24px;
    margin-left: -8px;
}
.about-us-right {
    float: right;
    width: 370px;
}
.right-img {
    float: right;
    margin-top: 10px;
    margin-bottom: 37px;
}
.table-title {
    margin-left: 9px;
    margin-bottom: 38px;
}
.table-cell1 {
    padding: 0px 10px 0px 9px;
}
.table-cell2 {
    padding: 18px 0px 0px 10px;
}
.clients {
    float: left;
    margin-top: 69px;
    margin-bottom: 88px;
    padding: 30px 20px;
}
.client-link{
    float: left;
    margin-right: 85px;
    opacity: 0.2;
}
.client-link:hover {
    opacity: 1;
}
.client-link:active {
    opacity: 0.1;
}
.client-link:nth-child(4) {
    margin-right: 0px;
}
.main-contacts {
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: #f1efe8;
    max-height: 418px;
}
.address-content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.address {
    float: left;
    padding: 34px 50px 45px 50px;
    margin-top: 53px;
    margin-bottom: 48px;
    background: white;
}
.address-text {
    width: 210px;
}

.address-btn {
    float: left;
    margin-top: 39px;
}
.address-btn:hover {
    background-color: #e74246;
}
.address-btn:active {
    background-color: #d7373b;
}
.footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.social-btn {
    display: inline-block;
    width: 78px;
    height: 78px;
    margin-right: 10px;
    margin-top: 75px;
    background-color: #e1e1e1;
    border-radius: 50px;
    text-align: center;
}
.social-btn:hover {
    background-color: #e74246;
}
.social-btn:active {
    background-color: #d7373b;
}
.social-img {
    margin-top: 25px;
}
.footer-social {
    float: left;
    margin-right: 129px;
}
.footer-shares {
    float: left;
    margin-top: 80px;
}
.catalog-title {
    padding: 38px 0px 109px 0px;
}
.form-left {
    float: left;
    margin-top: 3px;
    max-width: 260px;
}
.gallery {
    float: right;
    width: 760px;
}
.form-right {
    float: left;
    width: 760px;
    margin-bottom: 10px;
}
.sorting-title {
    float: left;
    margin-top: 20px;
    margin-right: 257px;
}
.sorting-list {
    margin: 0;
    padding: 0;
}
.sorting-element {
    float: left; 
    margin-top: 15px;
    padding: 5px 12px 5px 12px;  
}
.sorting-controls {
    float: right;
    margin-top: -30px;
    opacity: 0.3;
}
.arrow-down-link {
    margin-right: 13px;
}
.arrow-down-link:hover {
    opacity: 0.6;
}
.arrow-down-link:active {
    opacity: 1;
}
.arrow-up-link:hover {
    opacity: 0.6;
}
.arrow-up-link:active {
    opacity: 1;
}
.product-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}
.product-card {
    position: inherit;
    z-index: 1/*2*/;
}
.item-header{
    background-color: #eeeeee;
    padding: 12px 15px;
    border-radius: 3px;
}
.item-header-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: #ffffff;
    border-radius: 50px;
}
.item-header:hover {
    background-color: #4d4d4d;
}
.product-description {
    position: absolute;
    bottom: 0px;
    width: 311px;
    min-height: 231px;
    background: #eeeeee;
    padding: 0px 25px;
    z-index: 1;
}
.product-description:hover {
    z-index: 3;
}
.product-item:nth-child(2n) {
    float: left;
    position: relative;
    margin-right: 35px;
    margin-top: 30px;
}
.product-item:nth-child(2n+1) {
    float: right;
    position: relative;
    margin-top: 30px;
}
.gallery-pages {
    float: left;
    margin-bottom: 54px;
    margin-top: 56px;
}
.gallery-btn {
    display: inline-block;
    background: #eeeeee;
    padding: 17px 21px;
    margin-right: 6px; 
}
.gallery-btn:nth-child(4) {
    padding: 17px 78px; 
}
.gallery-btn:hover {
    background-color: #dfdfdf;
}
.gallery-btn:active {
    background-color: #d5d5d5;
}
.gallery-pages .active {
    outline: 3px solid #dbdbdb;
    background-color: white;
    outline-offset: -3px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}