body {
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto", "PT Sans", sans-serif;
    text-transform: none;
}
.fontgroup1 {
    font-size: 55px;
    line-height: 55px;
}

.fontgroup2 {
    font-size: 45px;
    line-height: 45px;
}
.fontgroup2-element1 {
    font-weight: bold;
    text-transform: uppercase;
}
.fontgroup3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}
.fontgroup4 {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.fontgroup5 {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.fontgroup6 {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}
.fontgroup6-element1 {
    color: #ffffff;
}
.fontgroup6-element2 {
    line-height: 24px;
    color: #283136;
}
.fontgroup6-element3 {
    font-weight: bold;
}
.fontgroup6-element4 {
    line-height: 18px;
    color: #283136;
}
.fontgroup6-element5 {
    line-height: 18px;
    color: #666666;
}
.fontgroup6-element6 {
    color: #444444;
}
.fontgroup6-element7 {
    line-height: 20px;
    color: #283136;
}
.fontgroup6-element8 {
    color: #283136;
}
.fontgroup7 {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}